* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    padding: 2%;
    width: 40%;
    background-color: white;
    border-radius: 100%;
    margin-left: 30%;
    margin-right: 30%;
}
.logo img{
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5vw;
}

header nav ul li {
    margin: 0 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2vw;
}

header nav ul li a:hover {
    color: aqua;
}

.main-content {
    width: 60vw;
    margin: 0 auto;
    padding: 50px 20px;
}

.main-content h1 {
    font-size: 2.4vw;
    margin-bottom: 20px;
    color: #333;
}
.main-content h2 {
    font-size: 2.2vw;
    margin-bottom: 20px;
    color: #333;
}
.main-content p {
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
    color: #666;
}
.main-content li {
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
    color: #666;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    font-size: 1vw;
}

.whats {
    width: 4vw;
    position: fixed;
    bottom: 1.5vw;
    left: 2vw;
}
.whats li{
    list-style: none;
}

.whats img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.whats img:hover {
    transform: scale(1.1);
}

#servico {
    margin-top: 2vw;
    width: 60vw;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    text-align: justify;
}

#servico h2 {
    width: 100%;
    margin-bottom: 10px;
    order: 0;
}

#servico ul {
    flex: 1;
    list-style: none;
}

#servico ul li {
    list-style: none;
}

#servico .servico2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    flex: 1;
}

#servico .servico2 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1vw;
    border: 2px solid black;
}

#intro{
    width: 60vw;
    column-count: 2;
}

#intro h2{
    text-align: left;
}

#intro p{
    text-align: justify;
}

#intro video{
    width: 90%;
    max-width: 100%;
    height: auto;
    border-radius: 1vw;
    border: 2px solid black;
    vertical-align: middle;
    margin-top: 1vw;
}

.carousel-container {
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2vw;
}
  
.carousel {
    display: flex;
    transition: transform 1s ease-in-out;
}
  
.carousel-image {
    width: 100%;
    height: auto;
}

#contato{
    text-align: justify;
}

#contato li{
    list-style: none;
}

#contato img{
    width: 4vw;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1vw;
}

#maquinas h2{
    text-align: center;
}

.maquinas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 60vw;
    margin: auto;
}

.maquina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maquina img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    border-radius: 1vw;
    border: 2px solid black;
}

.maquina p {
    text-align: center;
    max-width: 25vw;
}

@media (max-width: 768px) {
    header nav ul {
        align-items: center;
    }

    header nav ul{
        gap: 4vw;
    }

    header nav ul li a{
        font-size: 4vw;
    }

    .main-content{
        width: 100%;
    }

    #servico{
        width: 100%;
    }

    #intro{
        width: 100%;
    }

    .main-content h1, .main-content h2 {
        font-size: 6vw;
    }

    .main-content p, .main-content li {
        font-size: 4vw;
    }

    #intro {
        column-count: 1;
    }

    video{
        margin-left: 5%;
        width: 80%;
        margin-bottom: 5vw;
    }

    #servico {
        flex-direction: column;
    }

    #servico li{
        margin-top: 2vw;
    }
    #servico .servico2 {
        grid-template-columns: 1fr;
    }

    .carousel-container {
        width: 90%;
    }

    .whats {
        width: 50px;
        bottom: 20px;
        left: 20px;
    }

    #contato img {
        width: 13vw;
        margin-right: 2vw;
    }

    #contato li{
        margin-top: 3vw;
        font-size: 3.5vw;
    }

    .maquinas-container {
        grid-template-columns: 1fr;
        max-width: 90vw;
        gap: 4vw;
    }

    .maquina img {
        width: 100%;
    }

    .maquina p {
        max-width: 80vw;
    }

    footer p{
        font-size: 3vw;
    }
}
